<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="{%  static 'image/favicon.ico' %}" />
		{% if post %}

		<title>{{ post.title }}</title>
	</head>

	<body>
		<h1>{{post.title}}</h1>
		<img src="{{post.thumbnail.url}}" alt="" />
		<br />
		<small>{{post.blog_date}}</small>
		<p>{{post.body | safe}}</p>
		{% endif %}
	</body>
</html>
