asgiref==3.4.1
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.9
cloudinary==1.28.0
Django==4.0
django-cloudinary-storage==0.3.0
django-cors-headers==3.10.1
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.4
django-filter==21.1
django-summernote==0.8.20.0
djangorestframework==3.13.1
gunicorn==20.1.0
idna==3.3
packaging==21.3
Pillow==8.4.0
psycopg2==2.9.2
pyparsing==3.0.6
pytz==2021.3
requests==2.27.0
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.7
webencodings==0.5.1
whitenoise==5.3.0
